<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>header.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=gb2312">
    
    <link rel="stylesheet" type="text/css" href="../css/homestyle.css">

  </head>
  
  <body>
  
  <map name="Map">
    <area shape= "rect" coords="0,0,10,10">
  </map>
  
    	<div id="templatemo_site_title_bar">
	    <div id="site_title">
            <h1><a href="#">               
                <img src="images/logo.jpg" alt="logo" /><span>欢迎来到Melody博客平台</span>
            </a></h1>
        </div>
	</div> 
    
    <div id="templatemo_menu">
	    <ul>
          
	        <li><a href="#">主页</a></li>
            <li><a href="latestBlog.jsp">最新博文</a></li>
            <li><a href="wonderfulBlog.jsp">精彩博文</a></li>
            <li><a href="personalBlog.jsp">个人平台</a></li>
            <li><a href="contact.jsp">联系我们</a></li>

            
        </ul>
    </div> 
  </body>
 </html>
